<div class="paddingTB20">
    <div class="row">
        <div class="col-md-3 col-lg-3 banner-div vertical-center">
            <span class="banner-title text-center">IT Support & Consulting in the Okanagan & Canada</span>
            <div class="paddingTB20">
                <a href="tel:{{site.contact_number}}">
                    <button class="container-fluid btn btn-primary">
                        <span class="textH4">Contact Us</span>
                    </button>
                </a>
            </div>
        </div>
        <div class="banner-div col-md-6 col-lg-6">
            <img src="/img/banner.jpg" class="banner-img"/>
        </div>
    </div>
</div>