<div class="row section-break" id="services">
    <span class="slimTextH2 text-center">Other Services</span>
</div>
<div class="row displayInline section-break">

    {% for service in site.data.services %}

        <div class="col">
            <a href="{{service.link}}" data-vars-outbound-link="{{service.link}}" class="col center noStyleLink">
                <img src="{{service.img}}" alt="picture of {{service.title}}" class="services-img" width="200px" height="200px" max-height="200px" layout="responsive"/>                        
                <p class="textH2 text-center">{{service.title}}</p>
                <p class="textH4 text-center">{{service.description}}</p>
            </a>
        </div>

    {% endfor %}

</div>
<!-- <div class="row displayInline paddingTB20">
</div> -->