"author": {
    "@type": "Person",
    "name": "Nivedha Hari Kumar",
    "givenName": "Nivedha",
    "familyName": "Hari Kumar",
    "gender": "https://schema.org/Female",
    "nationality": "Indian",            
    "sameAs": [
        "https://www.facebook.com/people/Gen-IV-Solutions-Inc/100089145067983/",
        "https://twitter.com/GenIVSolutions",
        "https://github.com/geniv-solutions-inc",
        "https://www.linkedin.com/company/geniv-solutions-inc/",
        "https://www.nivedha-harikumar.com/"
    ]
},
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Organization",
        "address": {% include schema/postal-address.html %},
        "areaServed": {
            "@type": "GeoCircle",
            "geoMidpoint": {
                "@type": "GeoCoordinates",
                "latitude": 62.400000,
                "longitude": -96.466667
            },
            "geoRadius": 4023360
        },
        "name": "{{site.title}}",
        "telephone": "(416)877-8329",
        "url" : "{{site.url}}",
        "founder": {% include schema/person.html %},
        "foundingDate": "2022-12-09",
        "foundingLocation": {
            "@context": "https://schema.org",
            "@type": "Place",
            "address": {% include schema/postal-address.html %},
            "name": "Location: Brampton"
        }
    }
</script>