"author": {
    "@type": "Person",
    "name": "George Davis",
    "givenName": "George",
    "familyName": "Davis",
    "additionalName": "Gdcrocx",
    "gender": "http://schema.org/Male",
    "nationality": "Indian",            
    "sameAs": [
        "https://twitter.com/GDCrocx",
        "https://github.com/gdcrocx",
        "https://www.linkedin.com/in/georgedavisc/",
        "https://gdcrocx.github.io"
    ]
},
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Organization",
        "address": {% include schema/postal-address.html %},
        "areaServed": 
        <!-- "email": "secretariat(at)google.org", -->
        <!-- "faxNumber": "(647)561-7328", -->        
        "name": "{{site.title}}",
        "telephone": "(647)561-7328",
        "url" : "{{site.url}}",
        "founder": {% include schema/person.html %},
        "foundingDate": "2022-12-09",
        "foundingLocation": {
            "@context": "https://schema.org",
            "@type": "Place",
            "address": {% include schema/postal-address.html %},
            "name": "1961 Gordon Dr"
        }
    }
</script>