{
    "@type": "Person",
    "name": "Nivedha Hari Kumar",
    "givenName": "Nivedha",
    "familyName": "Hari Kumar",
    "gender": "https://schema.org/Female",
    "nationality": "Indian",            
    "sameAs": [
        "https://www.facebook.com/people/Gen-IV-Solutions-Inc/100089145067983/",
        "https://twitter.com/GenIVSolutions",
        "https://github.com/geniv-solutions-inc",
        "https://www.linkedin.com/company/geniv-solutions-inc/",
        "https://www.nivedha-harikumar.com/"
    ]
},