"author": {
    "@type": "Person",
    "name": "Nivedha Hari Kumar",
    "givenName": "Nivedha",
    "familyName": "Hari Kumar",
    "gender": "https://schema.org/Female",
    "nationality": "Indian",            
    "sameAs": [
        "https://www.facebook.com/people/Gen-IV-Solutions-Inc/100089145067983/",
        "https://twitter.com/GenIVSolutions",
        "https://github.com/geniv-solutions-inc",
        "https://www.linkedin.com/company/geniv-solutions-inc/",
        "https://www.nivedha-harikumar.com/"
    ]
},
<script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@type": "Product",
        "image": "{{page.product.img}}",
        "name": "{{page.product.title}}",
        "description": "{{page.product.description}}",
        "brand": "{{site.title}}",
        "offers": {
            "@type": "Offer",
            "availability": "https://schema.org/LimitedAvailability",
            "price": "60.00",
            "priceCurrency": "CAD"
        },
    }
</script>