"author": {
    "@type": "Person",
    "name": "George Davis",
    "givenName": "George",
    "familyName": "Davis",
    "additionalName": "Gdcrocx",
    "gender": "http://schema.org/Male",
    "nationality": "Indian",            
    "sameAs": [
        "https://twitter.com/GDCrocx",
        "https://github.com/gdcrocx",
        "https://www.linkedin.com/in/georgedavisc/",
        "https://gdcrocx.github.io"
    ]
},
<script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@type": "Product",
        "image": "{{page.product.img}}",
        "name": "{{page.product.title}}",
        "description": "{{page.product.description}}",
        "brand": "{{site.title}}",
        "offers": {
            "@type": "Offer",
            "availability": "https://schema.org/LimitedAvailability",
            "price": "60.00",
            "priceCurrency": "CAD"
        },
    }
</script>