.cls-1, .cls-4 {
    
    fill: #aeffae;
    opacity: 0.5;
}
/* fill: #d24b49; */

.cls-1,
.cls-2,
.cls-3 {
    fill-rule: evenodd;
}

.cls-2 {
    fill: #fff;
    opacity: 0;
}

.cls-3 {
        /* fill: #fcded9;  */
        fill: #d24b49;
    /* fill: #aeffff; */
    opacity: 0.5;
}

.error-404 {
    display: block;
    max-width: 30%;
    max-height: 40%; 
}

.container-404 {
    margin: 10px auto;
    max-width: 600px;
    text-align: center;
}

.title-404 {
    margin: 30px 0;
    font-size: 4em;
    line-height: 1;
    letter-spacing: -1px;
}