footer {
    margin-top: 2rem;
    color: #333;
}

footer span, footer p {
    font-size: 0.75rem;
    line-height: 1rem;
}

.social-links a {
    display: inline-block;
    padding: 0.2rem 0.3rem;
}

.clickLinks a {    
    padding: 2rem;
    margin: 1rem;
    width: 64px;
    height: 64px;
    /* border: 2px solid #FFF; */
    /* border-radius: 50%; */
}

.footerClickLinks a {
    display: inline-block;
    padding: 0.2rem 0.3rem;  
    width: 25px;
    height: 25px;
}

.copy-left {
    display: inline-block;
    text-align: right;
    margin: 0px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}