<!DOCTYPE html>
<html amp lang="en-CA">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
        <link rel="canonical" href="{{site.domainUrl}}{{site.baseurl}}{{page.url}}">
        <!-- Site Info -->
        <title>{% if page.title %}{{page.title}} - {% endif %}GenIV Solutions Inc.</title>        
        <!-- <link href="{{site.baseUrl}}/css/main.css" rel="stylesheet"> -->
        {% if page.meta %}<meta name="description" content="{{page.meta}}">{% endif %}
        <!-- Apache Cordova Whitelist Good default declaration:
            * Disables use of eval() and inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
            * Enable inline JS: add 'unsafe-inline' to default-src
            * Enable eval(): add 'unsafe-eval' to default-src
        -->
        <meta http-equiv="Content-Security-Policy" content="default-src 'self' https://www.google-analytics.com 'unsafe-inline'; img-src 'self' https://1157.3cx.cloud https://downloads-global.3cx.com https://www.google-analytics.com www.google-analytics.com https://stats.g.doubleclick.net; connect-src https://www.google-analytics.com www.google-analytics.com https://stats.g.doubleclick.net; frame-src https://www.google.com; style-src 'self' 'unsafe-inline'; media-src 'self'; script-src 'self' 'unsafe-inline' https://downloads-global.3cx.com https://www.google-analytics.com https://www.googletagmanager.com; connect-src https://1157.3cx.cloud https://www.google-analytics.com www.google-analytics.com https://stats.g.doubleclick.net;">
        <style>
            {% include css/default.css %}
            {% include css/site-nav.css %}
            {% include css/services.css %}
            {% include css/banner.css %}
            {% include css/about.css %}
            {% include css/icons.css %}
            /* Error 404 Page CSS */
            {% include css/error-404.css %}
            {% include css/footer.css %}
            /* Site Layout and Responsiveness */
            {% include css/responsive.css %}
            /* Bootstrap 5.2.3 */
            {% include css/bootstrap.min.css %}
        </style>
    </head>
    <body>

        {% include site-nav.html %}

        {{content}}

        {% include 3cx.html %}

        {% include footer.html %}

        {% if page.url == '/' %}
            <!-- Home Page -->
            <script type="application/ld+json">
                {
                    "@context": "http://schema.org",
                    "@type": "WebSite",
                    "name": "GenIV Solutions Inc.",
                    "headline":"{{ page.title }}",
                    "genre":"{{ page.category }}",
                    "keywords": "{{page.keywords}}", 
                    "url": "{{site.domainUrl}}",
                    "inLanguage": "en",
                    "isFamilyFriendly": "True",
                    "datePublished":"{{ page.date | date: '%Y-%m-%d' }}",
                    {% include schema/author.html %}
                    "mainEntityOfPage": {
                        "@type": "WebPage",
                        "@id": "{{site.domainUrl}}"
                    }
                }
            </script>
        {% endif %}
        {% if site.google_tag_id %}
            <!-- Google tag (gtag.js) -->
            <script async src="https://www.googletagmanager.com/gtag/js?id={{site.google_tag_id}}"></script>
            <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', '{{site.google_tag_id}}');
            </script>
        {% endif %}
        <script async src="/js/bootstrap.bundle.min.js"></script>
    </body>
</html>